<section class="pets" id="pets-list">
  <div class="loader-backdrop is-hidden">
    <span class="loader"></span>
  </div>

  <div class="pets-container container">
    <div class="our-pets__discription">
      <h2 class="our-pets__title">Наші хвостики</h2>
      <h3 class="our-pets__text">Вони дуже чекають на знайомство з вами</h3>
    </div>

    <ul class="our-pets__types-list">
      <li><button class="pets-type__btn" data-id="">Всі</button></li>
      <li>
        <button class="pets-type__btn" data-id="667ac6a4e4b0c8a2a7c1c1a1">
          Собаки
        </button>
      </li>
      <li>
        <button class="pets-type__btn" data-id="667ac6a4e4b0c8a2a7c1c1a2">
          Коти
        </button>
      </li>
      <li>
        <button class="pets-type__btn" data-id="667ac6a4e4b0c8a2a7c1c1a3">
          Кролики
        </button>
      </li>
      <li>
        <button class="pets-type__btn" data-id="667ac6a4e4b0c8a2a7c1c1a4">
          Гризуни
        </button>
      </li>
      <li>
        <button class="pets-type__btn" data-id="667ac6a4e4b0c8a2a7c1c1a5">
          Птахи
        </button>
      </li>
      <li>
        <button class="pets-type__btn" data-id="667ac6a4e4b0c8a2a7c1c1a6">
          Тварини з особливими потребами
        </button>
      </li>
      <li>
        <button class="pets-type__btn" data-id="667ac6a4e4b0c8a2a7c1c1a7">
          Терміново шукають дім
        </button>
      </li>
    </ul>

    <ul class="pets-list"></ul>

    <div class="pet-list__btn-wrap">
      <button type="button" class="pet-list__btn">Показати більше</button>
    </div>
  </div>
</section>
