<section class="stories" id="stories">
  <div class="container">
    <h1 class="title-stories">Щасливі історії, що надихають</h1>
    <h2 class="subtitle-stories">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </h2>
    <div class="loader loader-hidden"></div>

    <!-- SWIPER -->
    <div class="swiper stories-swiper">
      <div class="feedbacks swiper-wrapper"></div>
    </div>

    <div class="stories-navigation">
      <div class="stories-pagination-clip">
        <div class="swiper-pagination"></div>
      </div>
      <div class="stories-container-btn">
        <button
          class="stories-btn btn-back"
          type="button"
          aria-label="Previous story"
        >
          <svg class="icon-arrow-back" width="24" height="24">
            <use href="img/icons.svg#arrow_back"></use>
          </svg>
        </button>

        <button
          class="stories-btn btn-next"
          type="button"
          aria-label="Next story"
        >
          <svg class="icon-arrow-forward" width="24" height="24">
            <use href="img/icons.svg#arrow_forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
