@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans";
    src: url('./fonts/IBMPlexSans-VariableFont.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    src: url('./fonts/OpenSans-VariableFont.ttf') format('truetype');
}