.hero {
  background: linear-gradient(
      90deg,
      rgba(62, 54, 38, 0.74) 0%,
      rgba(62, 54, 38, 0) 100%
    ),
    image-set(
      url(../img/cat-and-dog.jpg) 1x,
      url(../img/cat-and-dog@2x.jpg) 2x
    );

  background-repeat: no-repeat;
  background-position: 90%;
  background-size: cover;

  color: #fff;
  font-family: "Open Sans", sans-serif;
  max-width: 375px;
  margin: 0 auto;
  height: 544px;
}

.hero-inside {
  margin: 0;
  padding: 64px 20px 115px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}

.hero-underh1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;


}

.hero-h1 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  max-width: 100%;
}

.hero-button {
  font-size: 14px;
  padding: 11.5px 23.5px;
  text-decoration: none;
  color: #FFF;
  background-color: #88765C;
  border-radius: 8px;
  border: 1px solid #88765C ;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: .5px;
}

.hero-button:hover, .hero-button:focus {
 background: #EEE9E3;
  border: 1px solid #88765C;
  border-radius: 8px;
  color: #02060A;
}

@media screen and (min-width: 768px) {

  .hero-underh1{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  }

  .hero-inside{
    padding: 64px 32px 235px;
  }

  .hero-text {
    width: 622px;
  }

  .hero {
    max-width: 768px;
  }

}

@media screen and (min-width: 1440px) {

   .hero {
    max-width: 1440px;
  }

   .hero-inside{
    padding: 128px 64px 413px;
  }

  .hero-text {
  }

  .hero-h1 {
    font-size: 56px;
  }

  .hero-underh1 {
    width: 512px;
    font-size: 18px;
  }

  .hero-button {
    font-size: 16px;
  }

}