/* Block page scroll */
body:has(.order-modal-overlay.is-open) {
  overflow: hidden;
}

/* Modal overlay */
.order-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.25);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms ease,
    visibility 250ms ease;
}

.order-modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Order modal window */
.order-modal {
  position: relative;
  background-color: #f6f4f1;
  border-radius: 8px;
  padding: 64px 20px;
  width: 100%;
  max-width: 335px;
  min-width: 320px;
}

@media only screen and (min-width: 768px) {
  .order-modal {
    max-width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .order-modal {
    max-width: 768px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

/* Order close button */
.order-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  padding: 0;
}

.order-close-icon {
  fill: #02060a;
}

/* Order title */
.order-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #02060a;

  margin-bottom: 48px;
}

/* Order form */
.order-form-group {
  position: relative;
  margin-bottom: 24px;
}

.order-form-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.5;
  color: #02060a;
}

.order-form-input,
.order-form-textarea {
  background-color: rgba(2, 6, 10, 0.05);
  display: block;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  outline: none;
  line-height: 1.5;
}

.order-form-textarea {
  height: 180px;
  resize: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

.order-form-input:focus,
.order-form-textarea:focus {
  background-color: #eee9e3;
  border-color: #88765c;
}

.order-form-input:focus::placeholder,
.order-form-textarea:focus::placeholder {
  opacity: 0;
}

/* Input error state */
.order-input-error {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(110%);
  font-size: 12px;
  line-height: 1.5;
  color: #ae0000;
  opacity: 0;
  transition: opacity 250ms ease;
}

.order-form-input:user-invalid:required ~ .order-input-error {
  opacity: 1;
}

.order-form-input:user-invalid:required {
  color: #ae0000;
  border-color: #ae0000;
}

.order-form-input:user-invalid:required::placeholder {
  color: #ae0000;
}

/* Order submit button */
.order-form-submit {
  display: block;
  margin: 0 auto;
  background-color: #88765c;
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 12px 24px;
  width: 100%;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  outline: none;
}

.order-form-submit:hover,
.order-form-submit:focus {
  background-color: #eee9e3;
  color: #02060a;
}

.order-form-submit:active {
  box-shadow:
    inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

@media only screen and (min-width: 768px) {
  .order-form-submit {
    width: 240px;
  }
}
